model_config_list:{
  config:{
    name:"dssm",
    base_path:"/Users/gallup/work/python/search-ranking/pb/match/dssm/",
    model_platform:"tensorflow",
#    model_version_policy {
#      specific {
#        versions: 0
#      }
#    }
  },
#
#  config:{
#    name:"rcnn",
#    base_path:"/models/multi_models/rcnn/pb",
#    model_platform:"tensorflow",
#    model_version_policy {
#      specific {
#        versions: 0
#      }
#    }
#  },
#
#  config:{
#    name:"bert",
#    base_path:"/models/multi_models/bert/pb",
#    model_platform:"tensorflow",
#  }
}
